<div class="class">
    <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>exemplo</title>
</head>
<body>
    <h2>Escolha um usuário: </h2>
    <button (click)="showPerfilGabriel()">Gabriel</button>
    <button (click)="showPerfilJoao()">João</button>
    <button (click)="return()">Início</button>
    <h1 *ngIf="show">Usuário atual: {{ dados_do_estudante.name }}</h1>
    <h2 *ngIf="show">Curso: {{ dados_do_estudante.curso }}</h2>
    <h3 *ngIf="show">Turno: {{ dados_do_estudante.turno }}</h3>
    <h2 *ngIf="show">Profissão: {{ dados_do_estudante.function }}</h2>
    <h2 *ngIf="show">Idade: {{ dados_do_estudante.age }}</h2>

</body>
</html>
</div>