<div class="class">
    <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>exemplo</title>
</head>
<body>
    <h1>Primeiro usuário: {{ dados_do_estudante.name }}</h1>
    <h2>    Curso: {{ dados_do_estudante.curso }}</h2>
    <h3>        Turno: {{ dados_do_estudante.turno }}</h3>
    <h2>Profissão: {{ dados_do_estudante.function }}</h2>
    <h2>Idade: {{ dados_do_estudante.age }}</h2>
</body>
</html>
</div>