
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>hello world Angular!</h1>
  <h2>testando h2</h2>
  <p>alguma coisa</p>
  <div>
    <a href="#">Clique aqui</a>
  </div>
  <app-first-component>app</app-first-component>
  <app-parent-data [name]="userName" [userData]="userData"></app-parent-data>
  <app-directives></app-directives>
  <app-perfil-gabriel></app-perfil-gabriel>
  <app-if-render></app-if-render>
</body>
</html>